* {
  box-sizing: border-box;
}
html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lucida Grande";
}
a {
  text-decoration: none;
}
.clear {
  clear: left;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(img/bg.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}
.top-wrapper h1 {
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  color: black;
}
.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}
.btn-wrapper p {
  margin: 10px 0;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}
.btn:hover {
  opacity: 1;
}
header {
  height: 80px;
  width: 100%;
  padding: 5px 0;
  background-color: rgba(252, 254, 255, 0.8);
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 5px solid black;
}
.logo {
  height: 65px;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
  background-color: rgba(74, 86, 98, 0.3);
  transition: all 0.5s;
}
.header-right:hover {
  background-color: #00acd7;
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
}
span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}
.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
.heading h2 {
  font-weight: normal;
}
.lesson {
  float: left;
  width: 25%;
}
.lesson-icon {
  position: relative;
}
.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}
.heading h3 {
  font-weight: normal;
}
.testimoni-wrapper {
  text-align: center;
}
.testimoni-wrapper>p {
  font-size: xx-large;
  padding: 25px 0;
}
.profile-container {
  margin: 0 20px;
  margin-bottom: 65px;
  display: inline-block;
  border-radius: 11px;
  padding: 15px;
  height: 290px;
  width: 25%;
  vertical-align: top;
  background-color: rgba(17, 78, 108, 0.2);
}
.img-profile {
  width: 100px;
  border-radius: 12px;
}
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}
.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}
.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
footer img {
  width: 90px;
}
footer p {
  color: #b3aeb5;
  font-size: 12px;
}
footer {
  padding-top: 30px;
  padding-bottom: 20px;
}




/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
      width: 50%;
      margin-bottom: 50px;
 }
  .top-wrapper h1 {
      font-size: 32px;
 }
  .heading h2 {
      font-size: 20px;
 }
  .profile-container {
      width: 40%;
      margin-bottom: 50px;
 }
}



/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
      width: 100%;
 }
  .testimoni-wrapper {
      width: 100%;
 }
  .profile-container {
      width: 80%;
      height: auto;
 }
  footer {
      text-align: center;
 }
  .btn {
      width: 100%;
 }
  .facebook {
      margin-bottom: 10px;
 }
  .top-wrapper {
      text-align: left;
 }
  .header-right {
      display: none;
 }
  span.menu-icon {
      display: block;
      color: black;
 }
  .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
 }
  .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
 }
}
